.container{
    
    width: 800px;
    text-align: center;
   text-shadow: 1px 1px 0px #000000;
   padding-right:70px;

padding-left:70px;
} 
p,li{
    
    color: #707070;
}
header{
    
    text-align: center;
}
h1{
    
    color:#DB0038;
}
h2{
    
    color:#3998A3;
}
h3{
    
    color:#474747;
}
.hero {
    
    color:#f4f4f4;
    text-align: center;
    padding-bottom:10px;
}  
li{
    
   padding-top:5px;
    padding-bottom:5px;
}

.rating span{
    
   color: #F4B400;
    font-size: 25px;
}
footer{
    
    
    text-align: center;
    
}
*{
    
    font-family: 'Happy Monkey';
    
}